<mat-card>
    <mat-card-header>
        <mat-card-title>{{movieName}} ({{movieRelease}})</mat-card-title>
        <mat-card-subtitle>{{movieDirector}} | {{movieRunningTime}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <mat-list-item>Scriptwriter: {{movieScriptwriter}}</mat-list-item>
            <mat-list-item>IMDB rating: {{movieIMDBRating}}</mat-list-item>
            <mat-list-item>Metascore rating: {{movieMetascoreRating}}</mat-list-item>
            <mat-list-item>Notes: {{movieNotes}}</mat-list-item>
        </mat-list>

        <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea cols="20000" matInput placeholder={{movieNotes}} [(ngModel)]="newNotes"></textarea>
        </mat-form-field>
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="editNotes()">Edit notes</button>
    </mat-card-actions>
</mat-card>
